.pequeno{
    background-color: black;
    width: 100px;
    height: 100px;
}
#primer-h1{
    color:rgb(20, 11, 41);
}

#parrafo{
    color:blue;
    font-size: 60px;
}

#div-ejemplo{
    position: relative;
    font-size: 5rem;
    margin-top: 50px;
    border: 10px solid orange;
    width: 250px;
}


#blue{
    background-color: green;
    width: 80%;
}
#green{
    background-color: blue;
    width: 80%;
}
#red{
    background-color: red;
    width: 80%;
}